/ConsoleVideoExtractFaces/.vs
/ConsoleVideoExtractFaces/Alturos.Yolo/bin
/ConsoleVideoExtractFaces/Alturos.Yolo/obj
/ConsoleVideoExtractFaces/ConsoleVideoExtractFaces/bin
/ConsoleVideoExtractFaces/ConsoleVideoExtractFaces/obj
/ConsoleVideoExtractFaces/LibVideoExtractFaces/bin
/ConsoleVideoExtractFaces/LibVideoExtractFaces/obj
/ConsoleVideoExtractFaces/ConsoleVideoExtractFaces/Videos/*.mp4
/ConsoleVideoExtractFaces/ConsoleVideoExtractFaces/models/yolov3/yolov3.weights
